@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.app-wrapper {
  @include clearfix;

  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: #e4e5e6;
  // display: flex;
  // use flex layout，or used fixed

  .app-sidebar {
    transition: width 0.28s;
    height: 100%;
    width: var(--sidebar-width);
    flex-shrink: 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 800;
    background-color: rgba($color: #f1f2f3, $alpha: 1);
    overflow: hidden;
  }

  .app-container {
    height: 100vh;
    margin-left: var(--sidebar-width);
    transition: margin-left 0.28s;
    padding-top: var(--header-height);

    .app-header {
      transition: width 0.28s;
      height: var(--header-height);
      position: fixed;
      top: 0;
      right: 0;
      z-index: 800;
      width: calc(100% - var(--sidebar-width));
      background-color: #ffffff;
      // &::after {
      //   content: '';
      //   display: block;
      //   background: #fff;
      //   height: 1px;
      //   width: 100%;
      // }
      // width: calc(100% - #{var(--sidebar-width)});
    }

    .app-scrollbar {
      padding: 10px 10px 0;
    }

    .app-main {
      // background-color: #ffffff;
      // border: var(--card-border);
      // border-radius: var(--border-radius);
      // padding: 20px;
      // height: 100vh;
      min-height: calc(100vh - var(--header-height) - var(--footer-height) - 10px);
    }
    .app-footer {
      height: var(--footer-height);
      line-height: var(--footer-height);
      font-size: 14px;
      text-align: center;
      color: #787d91;
    }
  }
}

.hideSidebar {
  .app-sidebar {
    width: var(--hide-sidebar-width);
  }
  .app-container {
    margin-left: var(--hide-sidebar-width);
    .app-header {
      width: calc(100% - var(--hide-sidebar-width));
    }
  }
}

.c-search-box {
  padding: 24px;
  padding-bottom: 2px;
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 12px;
}

.c-form-box {
  padding: 24px;
  background-color: #fff;
  border-radius: 2px;
}

.c-table-box {
  padding: 24px;
  background-color: #fff;
  border-radius: 2px;
}

.c-btn-list {
  margin-bottom: 12px;
  display: flex;
  .el-button + .el-button {
    margin-left: 12px;
  }
}

.c-pagination {
  display: flex;
  justify-content: flex-end;
  .el-pagination {
    padding: 20px 0 0 0;
  }
}
