:root {
  --sidebar-width: 210px;
  --navbar-height: 50px;
  --header-height: 62px;

  --main-bg-color: #f0f2f5;
  --navbar-bg-color: #ffffff;
  --navbar-text-color: #444444;
  --navbar-hover-color: rgba(0, 0, 0, 0.1);
}
