@use 'element-plus/theme-chalk/src/index.scss' as *;

// @forward 'element-plus/theme-chalk/src/common/var.scss' with (
//   $colors: (
//     'primary': (
//       'base': green
//     )
//   )
// );
:root {
  --el-color-primary: green;
}
:root {
  --theme-color: #409eff;
}
html.dark {
  --theme-color: #135fad;
}
.demo-class {
  background-color: var(--theme-color);
}
.demo-class-one button {
  color: var(--theme-color);
}

// 如果只是按需导入，则可以忽略以下内容。
// 如果你想导入所有样式:
// :root {
//   --main-color: red;
// }
// $import-color: blue;
